.section {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1vw;
  .icon {
    font-size: 3.5vw
  }
}

@media (max-width: 767px) {
  .section {
    column-gap: 5vw;
    .icon {
      font-size: 9.4vw
    }
  }
}