.footer {
  width: 100%;
  height: 16.4%;
  background-color: #7CAA2D;
  display: flex;
  align-items: center;
  .container {
    width: 100%;
    height: 75%;
    background-color: #FAEACBBF;
    border-top: solid .1vw #375E97;
    border-bottom: solid .1vw #375E97;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    .social {
      height: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .follow {
        font-family: Thasadith;
        color: #375E97;
        font-weight: 700;
      }
      .socialIcons {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        .button {
          min-width: 0;
        }
      }
    }
    .bookaroos {
      border-left: solid .1vw #375E97;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      .title {
        font-family: Thasadith;
        color: #375E97;
        font-weight: 700;
      }
      .images {
        width: 63%;
        display: flex;
        justify-content: space-evenly;
        .imageButton {
          min-width: 3vw;
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .staci {
          background-image: url('../../../static/staci.png');
        }
        .kelsie {
          background-image: url('../../../static/kelsie.jpeg');
        }
        .viet {
          background-image: url('../../../static/viet.jpeg');
        }
      }
    }
    .social, .bookaroos {
      padding-left: 5vw;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    height: 25vw;
    .container {
      font-size: 4.5vw;
      .social {
        .socialIcons {
          width: 50%;
        }
      }
      .bookaroos {
        .images {
          width: 85%;
          .imageButton {
            min-width: 6.5vw;
            width: 6.5vw;
            height: 6.5vw;
          }
        }
      }
    }
  }
}